{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SafeHer - Trusted Contacts</title>

<link href="{% static '/css/contact.css' %}" rel="stylesheet">


</head>

<body>

<div class="sidebar">

<div class="logo">
🛡 SafeHer
</div>
<a href="/Home">🏠 Home</a>
<a href="/dashboard">☰ Dashboard</a>

<a href="/contacts">👨‍👩‍👧 Contacts</a>
<a href="/report">📝 Report Incident</a>
<a href="/profile">👤 Profile</a>
<a href="/Home">🚪 Logout</a>

</div>

<div class="main">

<h1 class="page-title">
Trusted Contacts
</h1>

<div class="form-box">

<input
type="text"
id="name"
placeholder="Contact Name">

<input
type="tel"
id="phone"
placeholder="Phone Number">

<select id="priority">

<option value="Primary">
Primary Contact
</option>

<option value="Secondary">
Secondary Contact
</option>

<option value="Emergency">
Emergency Contact
</option>

</select>

<button class="btn" onclick="addContact()">
Add Contact
</button>

</div>

<input
type="text"
id="search"
class="search"
placeholder="Search Contacts..."
onkeyup="searchContact()">

<div
class="contact-grid"
id="contactContainer">
</div>

</div>

<script>

let contacts =
JSON.parse(
localStorage.getItem("safeherContacts")
) || [];

function saveContacts(){

localStorage.setItem(
"safeherContacts",
JSON.stringify(contacts)
);

}

function addContact(){

const name =
document.getElementById("name").value;

const phone =
document.getElementById("phone").value;

const priority =
document.getElementById("priority").value;

if(!name || !phone){

alert("Fill all fields");
return;

}

contacts.push({

name,
phone,
priority

});

saveContacts();

renderContacts();

document.getElementById("name").value="";
document.getElementById("phone").value="";

}

function deleteContact(index){

contacts.splice(index,1);

saveContacts();

renderContacts();

}

function renderContacts(filtered = contacts){

const container =
document.getElementById(
"contactContainer"
);

container.innerHTML="";

filtered.forEach((contact,index)=>{

container.innerHTML += `

<div class="contact-card">

<div class="priority">
${contact.priority}
</div>

<h3>${contact.name}</h3>

<p>📞 ${contact.phone}</p>

<button
class="delete-btn"
onclick="deleteContact(${index})">
Delete
</button>

</div>

`;

});

}

function searchContact(){

const query =
document.getElementById("search")
.value
.toLowerCase();

const filtered =
contacts.filter(contact =>

contact.name
.toLowerCase()
.includes(query)

);

renderContacts(filtered);

}

renderContacts();

</script>

</body>
</html>