{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SafetyHub - Trusted Contacts</title>

<link href="{% static 'css/contact.css' %}" rel="stylesheet">

</head>

<body>

<div class="sidebar">
    <div class="logo">🛡 SafetyHub</div>

    <a href="/Home">🏠 Home</a>
    <a href="/dashboard">☰ Dashboard</a>
    <a href="/contacts">👨‍👩‍👧 Contacts</a>
    <a href="/report">📝 Report Incident</a>
    <a href="/profile">👤 Profile</a>
    <a href="{% url 'logout' %}">🚪 Logout</a>
</div>

<div class="main">

<h1 class="page-title">Trusted Contacts</h1>

<!-- FORM -->
<div class="form-box">
<form method="post">
    {% csrf_token %}

    <input type="text" name="name" placeholder="Contact Name">

    <input type="number" name="phone" placeholder="Phone Number">
    <input type="email" name="email" placeholder="Email">

    <select name="priority">
        <option value="Primary">Primary Contact</option>
        <option value="Secondary">Secondary Contact</option>
        <option value="Emergency">Emergency Contact</option>
    </select>

    <button type="submit" class="btn">
        Add Contact
    </button>
</form>
</div>

<!-- CONTACT LIST -->
<div class="contact-grid">

    {% for contact in contacts %}

    <div class="contact-card">

        <div class="priority">
            {{ contact.priority }}
        </div>

        <h3>{{ contact.name }}</h3>

        <p>📞 {{ contact.phone }}</p>

        <form method="post" action="{% url 'delete_contact' contact.id %}">
            {% csrf_token %}
            <button type="submit" class="delete-btn">
                Delete
            </button>
        </form>

    </div>

    {% empty %}

    <p>No contacts added yet.</p>

    {% endfor %}

</div>

</div>

</body>
</html>