{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{% static '/css/home.css' %}">
    
</head>
<body>
    <nav>
        <div class="logo">🛡 SafetyHub</div>
        <ul class="nav-links">
            <li><a href="#hero">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/contacts">Contacts</a></li>
            <li><a href="/report">Report</a></li>
            <li><a href="/profile">Profile</a></li>
            
        </ul>
        <div >
            <a href="{%url 'logout'%}" class="btn login">Logout</a>
           
        </div>
        <h2  class="">Welocome, {{ user.first_name|default:user.username }}</h2>
    </nav>
    
    {% block body %}

    {% endblock body%}
</body>
</html>