{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SafeHer - Incident Report</title>

<link href="{% static '/css/report.css' %}" rel="stylesheet">

</head>

<body>

<div class="sidebar">

<div class="logo">
🛡 SafeHer
</div>
<a href="/Home">🏠 Home</a>
<a href="/dashboard">☰ Dashboard</a>
<a href="/contacts">👨‍👩‍👧 Contacts</a>
<a href="/report">📝 Report Incident</a>
<a href="/profile">👤 Profile</a>
<a href="/Home">🚪 Logout</a>

</div>

<div class="main">

<h1 class="page-title">
Incident Reporting Center
</h1>

<div class="report-box">

<h2 style="margin-bottom:20px;">
Submit Incident
</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

<input
type="text"
id="name"
placeholder="Full Name" 
name="fullname"
required>

<input
type="text"
id="location"
placeholder="Incident Location"
name="location"
required>

<select id="category" name="category">

<option>Harassment</option>
<option>Stalking</option>
<option>Unsafe Area</option>
<option>Theft</option>
<option>Violence</option>
<option>Other</option>

</select>

<textarea
rows="6"
id="description"
placeholder="Describe the incident..."
name="description"
required></textarea>

<input
type="file"
id="imageUpload"
accept="image/*"
name="image">

<img
id="preview"
class="preview">

<button
type="submit"
class="btn">

Submit Report

</button>

</form>

</div>

<div class="status-box">

<h2 style="margin-bottom:20px;">
Recent Reports
</h2>

{% for report in reports %}

<div class="status-card">
    <h3>{{ report.category }}</h3>
    <p><strong>Location:</strong> {{ report.location }}</p>
    <p><strong>Status:</strong> {{ report.status }}</p>
    <p><strong>Date:</strong> {{ report.created_at }}</p>
</div>

{% empty %}
<p>No reports found.</p>
{% endfor %}

</div>

<script>

const imageUpload =
document.getElementById(
"imageUpload"
);

const preview =
document.getElementById(
"preview"
);

imageUpload.addEventListener(
"change",
function(){

const file =
this.files[0];

if(file){

preview.src =
URL.createObjectURL(file);

preview.style.display =
"block";

}

}
);





</script>

</body>
</html>